			Hi <span id="loginWelcome" class="script" style="padding-right:15px;color:#ff7070;font-size:16px;">{{ user.getUserFirstName }}!</span> 
			<a href="{{ path('user_account') }}">Your Account</a> / <a href="{{ path('logout') }}" title="Log out" class="logout">Log out</a>
<!--
<div id="loginWelcome">Welcome, {{ user.getUserFirstName }}!</div>
<div><a href="{{ url('user_account') }}">My account</a> &middot; <a href="{{ url('logout') }}">log out</a></div>
-->
